
.inputTask {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  margin-bottom: 15px;
  border-radius: 5px; 
  gap: 10px;
  label {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 12px 15px;
  }
  &__Checkbox {
    width: 20px;
    height: 20px;
    
  }
}