
.inputPlus {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 60px;
  &__Value {
    border: 1px solid #dadada;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    background: #e5fcee76;
    outline: none;
    &::placeholder {
      color: #b1b1b1;
    }
  }
  &__Button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #dadada;
    cursor: pointer;
    background: #405ac6 url('./');
    padding: 10px;
  }
}